.a-part-of-budget-heading {
  padding: 5px;
  margin: 5px;
}

.date-picker-part {
  display: flex;
}
.new-budget-form-container {
  margin: auto;
  width: 90%;
}

.new-budget-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.new-budget-submit-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
