<!-- This will be where the form is for the user to create or log a new budget -->

<div class="new-budget-form-container">
  <div class="new-budget-heading">
    <h2 class="a-part-of-budget-heading">Create Budget for:</h2>
    <div class="date-picker-part">
      <input
        type="date"
        id="start-date"
        name="start-date"
        class="a-part-of-budget-heading"
      />
      <h4 class="a-part-of-budget-heading">-</h4>
      <input
        type="date"
        id="end-date"
        name="end-date"
        class="a-part-of-budget-heading"
      />
    </div>
  </div>
  <form [formGroup]="budgetForm" (ngSubmit)="onSubmit()">
    <!-- Income section -->
    <div formArrayName="incomes">
      <h3>Income</h3>
      <app-income-component [defaultCard]="true" />
      <div
        *ngFor="let income of incomes.controls; let i = index"
        [formGroupName]="i"
      >
        <app-income-component
          [index]="i"
          [defaultCard]="false"
          [onRemove]="removeIncome.bind(this)"
        />
      </div>
      <button type="button" (click)="addIncome()">Add Income</button>
    </div>

    <!-- Expenses Section -->
    <div formArrayName="expenses">
      <h3>Expenses</h3>
      <app-expense-component [defaultCard]="true" />
      <div
        *ngFor="let expense of expenses.controls; let j = index"
        [formGroupName]="j"
      >
        <app-expense-component [defaultCard]="false" />
      </div>
      <button type="button" (click)="addExpenses()">Add expenses</button>
    </div>
    <!-- Debt Section -->

    <div formArrayName="debts">
      <h3>Debt</h3>

      <!-- Excluding this part because not everyone has to account for debt -->
      <!-- <app-debt-component [defaultCard]="true" /> -->
      <div
        *ngFor="let debt of debts.controls; let k = index"
        [formGroupName]="k"
      >
        <app-debt-component
          [defaultCard]="false"
          [index]="k"
          [onRemove]="removeDebts.bind(this)"
        />
      </div>
      <button type="button" (click)="addDebts()">Add Debts</button>
    </div>
    <!-- Savings Section -->

    <div formArrayName="savings">
      <h3>Savings</h3>
      <app-savings-component [defaultCard]="true" />
      <div
        *ngFor="let saving of savings.controls; let l = index"
        [formGroupName]="l"
      >
        <app-savings-component [defaultCard]="false" />
      </div>
      <button type="button" (click)="addSavings()">Add Savings</button>
    </div>

    <div class="new-budget-submit-container">
      <button class="new-budget-submit-btn" type="submit">Submit</button>
    </div>
  </form>
</div>
