.savings-component-main-container {
  background-color: lightgray;
  padding: 1%;
  position: relative; /* Essential for positioning child elements relative to this div */
  margin-bottom: 2rem;
  border: 2px solid blue;
}

.delete-btn {
  position: absolute; /* Positions the button relative to the nearest positioned ancestor (parent-div) */
  top: 0; /* Aligns the button to the top edge of the parent-div */
  right: 0; /* Aligns the button to the right edge of the parent-div */
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
}
mat-form-field {
  padding: 5px;
}
mat-label {
  margin: 5px;
}
